PORT=5001
SERVER_API_BASE_URL=http://localhost:5001/
SERVER_API_TURNSTILE_KEY_PRIVATE=0xxxxxxxxxxxxxxxxxxxx
SERVER_API_TURNSTILE_KEY_PUBLIC=0xxxxxxxxxxxxxxxxxxxxx

WEBSITE_NAME=Vanakaris
WEBSITE_URL=http://localhost:3000/
WEBSITE_CORS_URL=http://localhost:3000
WEBSITE_TURNSTILE_CAPTCHA_ENABLED=1

EMAIL_SMTP_HOST=localhost
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USER=xxx@xxx.xxx.com
EMAIL_SMTP_PASS=xxxxxxxxxxxxxxxxxxxxxx
EMAIL_SMTP_FROM=xxx@xxx.xxx.com

DB_ADDRESS=vanakaris
DB_PORT=3306
DB_NAME=osp
DB_USER=admin
DB_PASS=admin

IMGSTAZ_PROJECT_UUID=xxx
IMGSTAZ_PROJECT_TOKEN=xxx
IMGSTAZ_ENDPOINT=https://api.imgstaz.com/api/v1/

MAX_FILE_SIZE=20
FILE_UPLOAD_RATE_LIMIT_RANGE_DAYS = 1
FILE_UPLOAD_RATE_LIMIT_PER_RANGE = 20