version: "2"
services:
  node:
    image: "node:18.15.0"
    user: "node"
    working_dir: /home/node/app
    environment:
      - NODE_ENV=production
    volumes:
      - ./:/home/node/app:Z
    expose:
      - "8081"
    command: bash -c "
        echo running container &&
        ls -la &&
        npm build
        npm start
      "




